*{
    padding: 0px;
    margin: 0px;
}
.header{
    background-image: linear-gradient(45deg, hsl(240, 50%, 10%), hsl(240, 50%, 15%), hsl(215, 56%, 63%), hsl(240, 50%, 20%));
    height: 121px;
    width: 1280px;
    display: flex;
    box-shadow: 0 4px 8px rgba(4, 4, 4, 1.1);
}

.logo img{
    width:108px;
    height: 92px;
    margin-top: 12px;
    margin-left: 30px;
    border-radius: 10px;
}

.loginText{
    position: relative;
    left: 815px;
    margin-top:29px;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

@keyframes switch1 {
    0%{
        background-image: url("images/c1.jpg");
        background-position: center;
        background-size:cover;
       
    }
    20%{
        background-image: url("images/c2.jpg");
        background-position: center;
        background-size:cover;
    }
    40%{
        background-image: url("images/c3.jpg");
        background-position: center;
        background-size:cover;
    }
    60%{
        background-image: url("images/c4.jpg");
        background-position: center;
        background-size:cover;
    }
    80%{
        background-image: url("images/c5.jpg");
        background-position: center;
        background-size:cover;
    }
    100%{
        background-image: url("images/c1.jpg");
        background-position: center;
        background-size:cover;
        
    }
}

@keyframes switch2 {
    0%{
        background-image: url("images/c6.jpg");
        background-position: center;
        background-size:cover;
       
    }
    20%{
        background-image: url("images/c7.jpg");
        background-position: center;
        background-size:cover;
    }
    40%{
        background-image: url("images/c8.jpg");
        background-position: center;
        background-size:cover;
    }
    60%{
        background-image: url("images/c9.jpg");
        background-position: center;
        background-size:cover;
    }
    80%{
        background-image: url("images/c10.jpg");
        background-position: center;
        background-size:cover;
    }
    100%{
        background-image: url("images/c6.jpg");
        background-position: center;
        background-size:cover;
        
    }
}

@keyframes switch3 {
    0%{
        background-image: url("images/c11.jpg");
        background-position: center;
        background-size:cover;
       
    }
    20%{
        background-image: url("images/c4.jpg");
        background-position: center;
        background-size:cover;
    }
    40%{
        background-image: url("images/c12.jpg");
        background-position: center;
        background-size:cover;
    }
    60%{
        background-image: url("images/c13.jpg");
        background-position: center;
        background-size:cover;
    }
    80%{
        background-image: url("images/c14.jpg");
        background-position: center;
        background-size:cover;
        
    }
    100%{
        background-image: url("images/c11.jpg");
        background-position: center;
        background-size:cover;
       
    }
}

body{
    overflow: hidden;
}



.firstPicture{
    width: 257px;
    height:231px;
    animation: switch1 50s infinite alternate;
    position: relative;
    left: 31px;
    top: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(4, 4, 4, 1.1);
    
}

.picStorage1{
    display: flex;

}

.ShopNaText b{
    font-size: 40px;
    position: relative;
    left: 50px;
    top: 60px;
}

.line1{
    height: 8px;
    width: 60px;
    background-color: #365D1E;
    position: relative;
    top: 55px;
    left:50px;
}

.line2{
    height: 8px;
    width: 70px;
    background-color: #365D1E;
    position: relative;
    top: 47px;
    left:130px;
}

.SecondPicture{
    animation: switch2 50s infinite alternate;
    width: 141px;
    height: 133px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(4, 4, 4, 1.1);
    position: relative;
    left: 55px;
    top: 53px;
}

.footer{
    width: 1280px;
    height: 32px;
    background-color: #365D1E;
    position: absolute;
    top:599px;
}

.picStorage2{
    display: flex;
}

.line3{
    height: 188px;
    width: 11px;
    background-color: #365D1E;
    position: relative;
    left: 35px;
    top:40px;
}

.ThirdPicture{
    animation: switch3 50s infinite alternate;
    width: 293px;
    height: 188px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(4, 4, 4, 1.1);
    position: relative;
    top:40px;
    left: 70px;
    
}

.paragraph1{
    width: 315px;
    font-size: 12px;
    position: relative;
    left: 90px;
    top: 70px;
}

.linkToRegister{
    position: relative;
    left: 90px;
    top: 60px;
    text-decoration: none;
    color: white;
    background-color: #365D1E;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(4, 4, 4, 1.1);

}

.linkToRegister:hover{
    
    padding: 10px;
    box-shadow: 0 4px 8px rgba(4, 4, 4, 1.1);
}

.main{
    display: flex;
}

.storageForLogIn{
    width: 400px;
    height: 430px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(4, 4, 4, 1.1);
    position: relative;
    left: 210px;
    top: 26px;
}

.storageForLogIn img{
    animation: bagTilt 1s infinite alternate;
    width: 150px;
    height: 150px;
    position: relative;
    left: 127px;
    
}

@keyframes bagTilt {
    0%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.user{
    display: flex;
}
.user img{
    width: 30px;
    height: 30px;
    position: relative;
    top:-180px;
    left: 220px;
}
.user input{
    width: 300px;
    position: relative;
    top:-180px;
    left: 230px;
    padding: 5px;
}

.password{
    display: flex;
    margin-top: 20px;
}
.password img{
    width: 30px;
    height: 30px;
    position: relative;
    top:-180px;
    left: 220px;
}
.password input{
    
    width: 300px;
    position: relative;
    top:-180px;
    left: 230px;
    padding: 5px;
}

.forLoginButton input{
    position: relative;
    top: -160px;
    left: 310px;
    padding: 6px;
    width: 200px;
    background-color: #365D1E;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(4, 4, 4, 1.1);

}

.forLoginButton input:hover{
    background-color: #4883b9;
    box-shadow: 0 4px 8px rgba(4, 4, 4, 1.1);

}

.logo h4{
    display: none;
}

.mobileView{
    display: none;
}


@media only screen and (max-width: 400px) {

    .header, .main{
        display: none;
    }

     .mobileView{
        display: block;
     }

     

.mobileView{
    /* background-image: linear-gradient(45deg, hsl(240, 50%, 10%), hsl(240, 50%, 15%), hsl(215, 56%, 63%), hsl(240, 50%, 20%)); */
    background: url('images/pexels-edgars-kisuro-1488463.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 730px;
    overflow: hidden;
}

.mobileView h4{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    font-weight: bolder;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
    transition: color 0.3s ease-in-out;
    animation: fall 1s ease-in-out forwards;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);


}

.bag{
    display: flex;
    color: white;
    justify-content: center;
    font-size: 120px;
    transition: color 0.3s ease-in-out;
}

.mobileView h2{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    animation: shake 0.5s infinite;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    
    
   
}

.login{
    margin-top: 50px;
    height: 430px;
    /* background-image: linear-gradient(45deg, hsl(240, 50%, 10%), hsl(240, 50%, 15%), hsl(215, 56%, 63%), hsl(240, 50%, 20%)); */
    /* background: transparent; */
    background-color: white;
    backdrop-filter: blur(5px);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 2px solid white;
  
}

.login input{
    width: 300px;
    padding: 25px;
    border-radius: 20px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(4, 4, 4, 1.1);
    
}

.username,.password{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.inputs{
    position: relative;
    top: -40px;

}

.inputs h4{
    color: #000000;
}

.password{
    position:relative;
    top: 170px;
    left: -230px;
}

.loginBtn input{
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 4px 8px rgba(4, 4, 4, 1.1);
}

.loginBtn{
    display: flex;
    justify-content: center;
}

.loginBtn input[type="submit"] {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #28a745;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.loginBtn input[type="submit"]:hover {
    background-color: #218838;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

@keyframes fall {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}

.classForRegister a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bolder;
    padding: 5px;
    margin: 10px;
    position: absolute;
    top: -380px;
    background-color: white;
    border-radius: 10px;
    animation: swipe 2s forwards;


}

@keyframes swipe {

    0% {
        transform: translateX(400px);
    }
    100% {
        transform: translateX(0%);
    }
    
}




       

}




