*{
    scroll-behavior: smooth;
}

.header{
    background-image: linear-gradient(45deg, hsl(240, 50%, 10%), hsl(240, 50%, 15%), hsl(215, 56%, 63%), hsl(240, 50%, 20%));
    height: 80px;
    display: flex;
    box-shadow: 0 4px 8px rgba(4, 4, 4, 1.1);
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 900; 
}




.searchBar input{
    margin-left: 10%;
    margin-top: 4%;
    padding: 5px;
    width: 600px;
    
}

.searchBar svg{
   position: relative;
    left: 600px;
     bottom: 33px; 
}

.menu{
    display: flex;
    justify-content: center;
}

.stores{
    margin-left: 60px;
    margin-top: 18px;
}

.cart{
    margin-left: 60px;
    margin-top: 18px;
}

.home{
    margin-left: 20px;
    margin-top: 18px;
}

.about{
    margin-left: 60px;
    margin-top: 18px;
}

.logout a{
    margin-left: 160px;
    margin-top: 18px;
    display: flex;
    text-decoration: none;

}

.logout h6{
    margin-top: 10px;
    color: white;
}

.returnTop{
    background-image: linear-gradient(45deg, hsl(240, 50%, 10%), hsl(240, 50%, 15%), hsl(215, 56%, 63%), hsl(240, 50%, 20%));
    width: 70px;
    height: 70px;
    border-radius: 10px;
    position: fixed;
    bottom: 7vh;
    right: 1vw;
    box-shadow: 0 4px 8px rgba(4, 4, 4, 1.1);
}

.returnTop svg{
    position: relative;
    top: 15px;
    left: 15px;
}

.returnTop:hover{
    background-color: black;
}

.mess{
    background-image: linear-gradient(45deg, hsl(240, 50%, 10%), hsl(240, 50%, 15%), hsl(215, 56%, 63%), hsl(240, 50%, 20%));
    width: 70px;
    height: 70px;
    border-radius: 10px;
    position: fixed;
    bottom: 19vh;
    right: 1vw;
    box-shadow: 0 4px 8px rgba(4, 4, 4, 1.1);
}

.mess svg{
    position: relative;
    top: 15px;
    left: 15px;
} 

.mess:hover{
    background-color: black;
}





