.searchBar input{
    display: none;
}

.logout a{
    margin-left: 760px;
}

.logout h6{
    font-size: 17px;
}

.main{
    margin-top: 110px;
    margin-left: 30px;
}

button{
    box-shadow: 0 4px 8px rgba(4, 4, 4, 1.1);
}

body{
    overflow-x: hidden;
}

.shopList{
    margin-top: 30px;
    margin-bottom: 50px;
}