.searchBar input{
    display: none;
}

.logout a{
    margin-left: 760px;
}

.logout h6{
    font-size: 17px;
}


.containerT{
    background-color: #365D1E;
    width:1000px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(4, 4, 4, 1.1);
    margin-left: 50px;
    margin-top: 140px;
    display: flex;
    color: white
}

.information{
    margin-left: 40px;
    margin-top: 40px;
}